/*
Body of the website
 */
body{
    background-color: #FFF7F1;
}

/*
Div containing the navbar items
 */
.container-fluid{
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 20px;
    justify-content: space-between;
    font-family: "SF Pro Display", serif;
    color: #31363F;
    font-weight: normal;
}
/*
iSAD Logo properties
 */
.container-fluid > #logo{
    margin-top: -25px;
}
.container-fluid > #navbar{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

/*
Sign div properties
 */
.container-fluid > #inner-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}
.container-fluid > #inner-div > button{
    border: 2px solid #FF5F00;;
    color: #31363F;
    width: 80px;
    height:40px;
    border-radius: 30px;
}

/*
Navbar Items: Hover effect from orange to dark gray
 */
.container-fluid > #navbar > .home{
    transition: 2s;
}
.container-fluid > #navbar > .home:hover{
    color: #FF5F00;
    opacity: 1;
    transition: 0.5s;

}
.container-fluid > #navbar > .iOS{
    transition: 2s;
}
.container-fluid > #navbar > .iOS:hover{
    color: #FF5F00;
    opacity: 1;
    transition: 0.5s;
}
.container-fluid > #navbar > .Android{
    transition: 2s;
}
.container-fluid > #navbar > .Android:hover{
    color: #FF5F00;
    opacity: 1;
    transition: 0.5s;
}
.container-fluid > #navbar > .web-app{
    transition: 2s;
}
.container-fluid > #navbar > .web-app:hover{
    color: #FF5F00;
    opacity: 1;
    transition: 0.5s;
}
.container-fluid > #navbar > .contact{
    transition: 2s;
}
.container-fluid > #navbar > .contact:hover{
    color: #FF5F00;
    opacity: 1;
    transition: 0.5s;
}
.container-fluid > #inner-div > .sign{
    transition: 2s;
}
.container-fluid > #inner-div > .sign:hover{
    color: #FF5F00;
}
.container-fluid > #inner-div > button{
    transition: 2s;
}
.container-fluid > #inner-div > button:hover{
    background-color: #FF5F00;
    color: white;
    opacity: 1;
    transition: 0.5s;
}

/*
Phrase div properties
 */
#bar-div{
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 60px;
    width: 100%;
    background-color: #31363F;
    font-family: "SF Pro Display", serif;
    color: white;
}

/*
Phrase div effects
 */
#bar-div:hover{
    background: #FF5F00;
    opacity: 1;
    transition: 1s;
}
#bar-div{
    transition: 2s;
}

/*
Software Used Div properties
 */
#software-used{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: "SF Pro Display", serif;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 100px;
    background-color: black;
}
#software-used > #text > #on-off{
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-left: 12px;
    color: white;
}
#software-used > #text > #on-off > .text{
    margin-bottom: -80px;
}
#software-used > #text > #inspired > h1{
    margin-top: 25px;
    font-size: 100px;
    text-align: center;
    color: white;
    margin-left: 10px;
    transition: 1s;
}
#software-used > #text > #inspired > h1:hover{
    font-size: 130px;
    opacity: 1;
    transition: 0.5s;
}
#software-used > #text > #inspired{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 850px;
    margin-top: -70px;
}
#software-used > #text > #inspired > p{
    text-transform: none;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    color: white;
    margin-left: 10px;
    margin-top: -60px;
}
#software-used > #text > #inspired > button{
    border: 2px solid #31363F;
    border-radius: 30px;
    color: #31363F;
    width: 200px;
}
#software-used > #text > #inspired > button:hover{
    background-color: #FF5F00;
    color: white;
    opacity: 1;
    transition: 0.5s;
}
#software-used > #text > #inspired > button{
    transition: 2s;
}
#software-used > #text > #inspired > #code-image > img:hover{
    height: 1240px;
    width: 1240px;
    transition: 30s;
}
#software-used > #text > #inspired > #code-image{
    display: flex;
    flex-direction: column;
}
#software-used > #text > #inspired > #code-image > img{
    height: 840px;
    width: 840px;
    transition: 30s;
}
#div-with-image{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: "SF Pro Display", serif;
}
#div-with-image > #my-tools{
    display: grid;
    grid-template-rows: 200px 200px;
    grid-template-columns: 200px 200px;
    gap: 20px;
}
#div-with-image > #my-tools > #xcode{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#div-with-image > #my-tools > #android-studio{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#div-with-image > #my-tools > #webstorm{
    width: 420px;
    display: flex;
    flex-direction: row;
    gap: 16px;
}
#div-with-image > #my-tools > #webstorm > #the-process{
    display: block;
}
#div-with-image > #my-tools > #webstorm > #the-process > h2{
    text-transform: none;
    font-size: 20px;
    color: #31363F;
}
#div-with-image > #my-tools > #webstorm > #the-process > #what-we-do{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: -50px;
    margin-top: -25px;
}
#div-with-image > #my-tools > #webstorm > #the-process > #what-we-do > button{
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 10px;
    background-color: #31363F;
    color: white;
}
#div-with-image > #my-tools > #webstorm > #the-process > #what-we-do > button{
    transition: 2s;
}
#div-with-image > #my-tools > #webstorm > #the-process > #what-we-do > button:hover{
    background-color: #FF5F00;
    opacity: 1;
    transition: 0.5s;
}
#div-with-image > #my-tools > #xcode > img:hover{
    height: 230px;
    width: 230px;
    transition: 0.5s;
}
#div-with-image > #my-tools > #xcode > img{
    transition: 2s;
}
#div-with-image > #my-tools > #android-studio > img:hover{
    height: 230px;
    width: 230px;
    transition: 0.5s;
}
#div-with-image > #my-tools > #android-studio > img{
    transition: 2s;
}
#div-with-image > #my-tools > #webstorm > #the-process > #what-we-do > ul{
    text-transform: none;
    color: white;
    font-weight: normal;
}
#div-with-image > #my-tools > .box{
    background-color: #3FBDF1;
    border-radius: 30px;
}

/*
Divider Div
 */
/*#divider{
    margin-top: 80px;
    width: 100%;
    height: 10px;
    background-color: #FF5F00;
}
 */
#divider{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    background-color: #31363F;
    font-family: "SF Pro Display", serif;
    text-align: center;
    color: white;
    transition: 2s;
}
#divider > .benefits{
    margin-bottom: -20px;
}
#divider > .choose-us{
    margin-top: 20px;
}
#divider:hover{
    background-color: #FF5F00;
    opacity: 1;
    transition: 1s;
}
#div-with-image{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    background-color: white;
}